{
    margin: 0;
    padding: 0;
}

body {
    background-color: chocolate;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    width: 90%;
    margin: 50px auto; 

    border: 15px double black;
    padding: 25px;
    text-align: center;
    background-color: blueviolet;
    border-radius: 50px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
}

.htmlhead {
    font-size: 1.2rem;
    color: #F0F8FF; 
    font-weight: 800;
    transition: transform 0.4s ease-out, color 0.4s;
    display: inline-block;
}

.htmlhead:hover {
    color: rgb(135, 222, 154);
    transform: translateY(-10px);
}

.htmlpara {
    color: chartreuse;
    font-size: 2 rem;
    margin: 20px 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blanchedalmond;
}

.csshead {
    font-size: 1.2rem;
    color: burlywood; 
    font-weight: 800;
    margin-top: 20px; 
}

.csspara {
    color: bisque; 
    font-size: 2rem; 
    margin: 15px 0 0;
    text-align: center;
}